name: CI débutant

on:
  push:
    branches:
      - main

jobs:
  demo-ci:
    runs-on: ubuntu-latest

    steps:
        - name: Récupérer le code
          uses: actions/checkout@v4

        - name: Installer Node.js
          uses: actions/setup-node@v4
          with: 
            node-version: 18
        
        - name: Lancer les tests
          run: node test.js

    
