name: Pipeline CI/CD Render

on:
  push:
    branches:
      - main

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Setup Node
          uses: actions/setup-node@v4
          with: 
            node-version: 18
        
        - name: Run Tests
          run: node test.js
        
        - name: Deploy on Render
          run: |
            curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}

    
